<a href="https://colab.research.google.com/github/GeraldHufana/58002_OOP/blob/main/LOOPING_SYSTEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
week = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for x in week:  
  print(x)
if x == "Saturday":
  "break"

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [20]:
#break statement

week = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"] 
for x in week:
  if x == "Friday":
    break
  print(x)

Monday
Tuesday
Wednesday
Thursday

In [29]:
#looping through the string

for x in week:
  if x == "Thurday":
     print(x)
     break

In [30]:
# range function

for x in range (6):
  print(x)

for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [35]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
name = ["amir","amwell","cedullo"]
for x in adjective:
 for y in fruits:
   for v in name:
    print(x,y,v)

red apple amir
red apple amwell
red apple cedullo
red banana amir
red banana amwell
red banana cedullo
red cherry amir
red cherry amwell
red cherry cedullo
big apple amir
big apple amwell
big apple cedullo
big banana amir
big banana amwell
big banana cedullo
big cherry amir
big cherry amwell
big cherry cedullo
tasty apple amir
tasty apple amwell
tasty apple cedullo
tasty banana amir
tasty banana amwell
tasty banana cedullo
tasty cherry amir
tasty cherry amwell
tasty cherry cedullo

In [75]:
#the break statemen
i = 1
while i<10:
   print(i)
   i += 1 #i=i+1 Assingment operator

1
2
3
4
5
6
7
8
9

In [77]:
#continue statement
i = 1
while i<6:
  i += 1
  if i==3:
    continue
    print(i)

In [58]:
Greeting = ["hello"]
Name = ["0","1","2","3","4","5","6","7","8","9","10"]
for x in Greeting:
  for y in Name:
    print(x,y)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [81]:
i = 3
while i<10:
  print(i)
  i += 1

3
4
5
6
7
8
9