<a href="https://colab.research.google.com/github/GeraldHufana/58002_OOP/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [3]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python commments

In [4]:
#This is the commonent 

print("Hello World")

Hello World

Naming variable

In [8]:
#Single variable with a single value

x = 1
y = 2
print(x)
print(y)

1
2

In [11]:
#Multiple variable with a single value

a = b = c = "Hufana"
print(a)
print(b)
print(c)

Hufana
Hufana
Hufana

In [24]:
#Multiple variable with a multiple value
e, f, g,=1,2,3 
print(f)
print(g)

2
3

In [25]:
#single or double
y="sally"
v="sally"

casting

In [26]:
#casting
p = int(5)
p

5

In [28]:
f = "ana"
g = 4.56
print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

case sensetive

In [37]:
a = "4"
A = "Sally"
x = "enjoying"
j = "Phyton programming is "
print(a)
print(A)
print("Python programming is "+" "+ x)
print(j+x)

4
Sally
Python programming is  enjoying
Phyton programming is enjoying